@import "../../global.scss";

li {
  font-size: 14px;
  margin-right: 50px;
  padding: 9px;
  border-radius: 17px;
  cursor: pointer;

  &.active {
    background-color: $mainColor;
    color: white;
  }
}
